/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/ngx-toastr/toastr.css';
:root {
    --color-50: #ecfdf5;
    --color-100: #d1fae5;
    --color-200: #a7f3d0;
    --color-300: #6ee7b7;
    --color-400: #34d399;
    --color-500: #10b981;
    --color-600: #059669;
    --color-700: #047857;
    --color-800: #065f46;
    --color-900: #064e3b;
    --color-950: #022c22;
  }

html {
    position: relative;
    height: 100%;

}

body {
    margin: 0;
    position: relative;
    min-height: 100%;
}
