/* You can add global styles to this file, and also import other style files */
:root {
    --color-50: #ecfdf5;
    --color-100: #d1fae5;
    --color-200: #a7f3d0;
    --color-300: #6ee7b7;
    --color-400: #34d399;
    --color-500: #10b981;
    --color-600: #059669;
    --color-700: #047857;
    --color-800: #065f46;
    --color-900: #064e3b;
    --color-950: #022c22;
    background-color: var(--color-50);
  }
  

nav {
    background-color: var(--color-900);
    overflow: hidden;
}

nav a {
    float: left;
    color: var(--color-100);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-self: center;
}

nav a:hover {
    background-color: var(--color-800);
    color: var(--color-950);
    transition: all 0.5s ease;
}

nav a.active {
    background-color: var(--color-950);
    color: var(--color-50);
}

.logo a {
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    /* color: #4CAF50; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition:all 0.5s ease;
}

.logo a:hover {
    color: #6d4caf;
    transition: all 0.2s ease;
    
    cursor: default;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info {
    background-color: var(--color-300);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    width: auto;
    align-items: center;
    padding: 10px;
    margin: 0px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.user-info img{
    height: 50px;
    /* width: 20%; */
    /* height: auto; */
}