<div class="register-container">
<h2>Sign Up</h2>
    <p>Become a part of the TextScape Universe!</p>
    <form (submit)="onsubmit()">
        <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required>
        <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required><br>
        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
        <input type="password" [(ngModel)]="user.password2" name="password_confirmation" placeholder="Confirm Password" required>
        <button type="submit" value="Register">Register</button>
    </form>
    </div>
