.post-feed {
    margin: 0 auto;
    width: 75vw;
    /* max-width: 600px; */
    padding: 0 20px;
    margin: 10px;
    border: 2px solid #ccc;
    background-color: var(--color-200);
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.post-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    background-color: var(--color-300);
    border-radius: 5px;
}

.follow-btn {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}

.follow-btn:hover {
    transform: scale(1.1);
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-100);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--color-500);
}

.post-content a {
    text-decoration: none;
    color: var(--color-950);
    transition: all 0.2s ease-in-out;
    padding: 10px;
    margin: 10px;
}

.post-content a:hover {
    color: var(--color-800);
    cursor: pointer;
    font-size: 1.15em;
    /* font-weight: 100; */
}

.post-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    align-self: center;
    width: 100%;

}

.like_count {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
}

.social-btn {
    display: inline;
    /* margin: 10px 0 10px 0; */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-items: center;
}

.social-btn:hover {
    transform: scale(1.1);
}

.comment-feed {
    display: flex;
    line-height: .15;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: auto;
    gap: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--color-100);
    
}

.comment-form {
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5px;
    padding: 5px;
    /* gap: 10px; */
}

.comment-box {
    border: none;
    border-radius: 5px;
    /* padding: 10px; */
    background-color: var(--color-200);
    align-items: center;
    justify-content: center;
    height: 15px;
}

