h1 {
    font-size: .75em;    
    color: var(--color-950)
}

h1 a {
    text-decoration: none;
    color: var(--color-950);
    transition: all 0.2s ease-in-out;
}

h1 a:hover {
    color: var(--color-800);
    cursor: pointer;
    font-size: 1.5em;

}

nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-right: 10px
}

h2 {
    font-size: .6em;
    color: var(--color-950);
}

