div {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    border: 2px solid #ccc;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(168, 186, 205);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
}

.post-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    align-self: center;
    width: 100%;

}

.like_count {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin: 0 0 10px 0;
}

.social-btn {
    margin: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-items: center;
}

.social-btn:hover {
    transform: scale(1.1);
}

